* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

:root {
  /* --background-color: #1a1f1d; */
  /* --primary-color: #116466; */
  /* --accent-color: #d9b08c; */
  /* --text-color: #d1e8e2; */

  /* original colour scheme */
  --primary-color: #000734;
  --background-color: #1a1f1d;
  --accent-color: #1888ff;
  --text-color: #ffffff;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  /* padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center; */
}
