.login-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000734;
  border: 1px solid var(--accent-color);
  padding: 10px;
}

.login-title {
  font-size: 1.5rem;
  color: var(--text-color);
}

.login-subtitle {
  color: var(--text-color);
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 50px;
  gap: 10px;
}

.login-input {
  border: 1px solid var(--text-color);
  border-radius: 3px;
  padding: 10px;
  background-color: transparent;
  color: var(--text-color);
  width: 100%;
}

.login-button {
  background-color: #1880ee;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  color: var(--text-color);
  cursor: pointer;
}

.login-button:hover {
  border-radius: 4px;
  color: #1888ff;
  background: var(--text-color);
}
