.settings-btn {
  background-color: transparent;
  color: var(--text-color);
  border: 0;
  width: 100px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  cursor: pointer;
}

.settings-btn:hover {
  opacity: 0.9;
}
