.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 7, 52);
  height: 80px;
  font-size: 1.2rem;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  justify-content: end;
  width: 70vw;
  margin-right: 2rem;
  list-style: none;
  text-align: center;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.btn {
  background-color: #1880ee;
  padding: 8px 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  padding: 6px 18px;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #1880ee;
  opacity: 80%;
}
